---
---

$sans: helvetica, sans-serif;
$serif: 'Crimson Text', georgia, serif;

$dark: #444;
$dark2: #999;
$light: #ededed;

$light_bg_1: #ED1067;
$light_bg_2: #3ecaff;
$light_bg_3: #00CB78;

$higlight_text: #ED1067;
$higlight_text_important: #3ecaff;

$full_width: 900px;
$sidebar_width: 240px;
$gutter: 40px;


html, .root {
  font-size: 12px;
  line-height: 21px;
}
body {
  font-family: $sans;
  font-size: 16px;
  line-height: 1.5em;
  width: $full_width;
  color: $dark;
  margin: 0 0 0 60px;
}

hr {
  margin: 2em 0;
  border: none;
  border-top: 1px solid;
}

p {
  margin: 0 0 1em 0;
}

code {
  font-size: .75em;
}

pre[class*="language-"] {
  border-radius: 0;
}

h1, h2 { font-weight: normal; font-family: $serif; margin: 0 0 .5em 0; }
h3, h4, h5, h6 { font-weight: bold; font-family: $sans;  margin: 0 0 1em 0; }

h3 { font-size: 1em; }
h4 { font-weight: normal; font-size: 1em; }

a {
  color: $dark;
  border-bottom: 1px solid;
  text-decoration: none;
}

/*** HEADER ***/

header {

  font-size: .8em;
  width: $sidebar_width;
  float: left;
  margin: 40px $gutter 0 0;
  text-align: left;
  line-height: 2em;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
    }

  }

  a {
    border: none;
    color: $dark2;
  }

  h1 {
    font-size: 1em;
    font-weight: bold;
    font-family: $sans;
    display: inline-block;
    margin: 0;

    a {
      color: $dark;
    }

    span a {
      display: none;
    }

  }

  nav {
    padding-bottom: 2em;
  }

  nav ul {
    margin: 0;
    padding: 0;
    color: $dark2;

    li {
      list-style-type: none;

      ul {

        margin: 0;

        li {
          margin: 0 0 0 20px;
        }

      }

    }//li


  }//nav ul

} // header

section.main {

  font-family: $serif;
  font-size: 1.2em;
  width: $full_width - $sidebar_width - $gutter;
  float: left;
  margin: 40px 0;
  position: relative;
  line-height: 1.5em;

  strong {
    background-color: #fffb0f;
    padding: 0 .25em;
  }

  img {
    width: 100%;
  }

  p.venue, p.schedule_link, p.date_completed {
    font-size: .666666667em;
    font-family: $sans;
  }

  .box {

    color: #fff;
    padding: 20px;
    margin: 3em 0;
    background-color: $light_bg_1;


    a {
      color: #fff;
    }

    ul {
      margin-bottom: 10px;
    }

  }

  .assignments {
    background-color: $light_bg_2;
  }

  .resources {
    background-color: $light_bg_3;
  }

}

body.no-title section.main {
  /*padding-top: 8em;*/
}

/*** Portfolio Page ***/
body.gallery section.main {

  p {
    font-family: $sans;
    font-size: .7em;
    width: 50%;
    line-height: 1.25em;
    margin-top: 3em;

  }

  .gallery-image {
    width: 45%;

    p {
        width: 100%;
        margin-top: 0;
        float: none;
    }

    a {
      display: block;
      border: none;
    }

  }

  .gallery {
    padding: 5em 0;
    float: left;
  }

  .gallery-left {

    p {
      float: right;
      text-align: left;
    }

    .gallery-image {
      float: left;

    }
  }

  .gallery-right {

    p {
      float: left;
      text-align: right;
    }

    .gallery-image {
      float: right;

    }
  }

}






/*** Bootstrap Table ***/
/* Pulled from https://github.com/twbs/bootstrap/blob/v4-dev/dist/css/bootstrap.css#L2079-L2241 */

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2em;
  font-size: .66667em;
  font-family: $sans;
  line-height: 1.5em;
}

table th,
table td {
  padding: 0.75em;
  vertical-align: top;
}

table thead th {
  vertical-align: bottom;
  font-weight: bold;
}

table table {
  background-color: #fff;
}

table-sm th,
table-sm td {
  padding: 0.3em;
}


table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

section.main table td strong, p.schedule_link a {
  font-weight: normal;
  background-color: $higlight_text;
  padding: .25em .5em .15em;
  border: none;
  border-radius: .25em;
  color: #fff;
  display: inline-block;
  margin: .5em 0;
  line-height: 1.5em;
}

table td.week {
  background-color: $dark;
  color: $light;
}

section.main table td.week strong {
  background-color: transparent;
  color: $light;
  padding: 0;
  margin: 0;
}

section.main table td strong.major_project {
  background-color: $higlight_text_important;
}

table td strong a {
  border: none;
  color: #fff;
}

table td strong.major_project a {
  color: #fff;
}




/****** MOBILE ******/

@media only screen and (max-width: 960px) {

  body {
    margin: 20px;
    width: auto;
  }

  header, section.main {
    width: auto;
    float: none;
  }

  header {

    h1 {

      margin: 0 0 1em 0;

      span a {
      padding: 6px 11px;
      color: $dark;
      background-color: $higlight_text;
      display: inline;
      margin: 0px 10px 0 0px;
      vertical-align: middle;
      }

    }

    nav { display: block;}
    nav.hidden { display: none; }

  }

  iframe { max-width: 100%; }

  /*** Portfolio Page ***/
  body.gallery section.main {

    p {
      width: 100%;
    }

    .gallery-image {
      width: 100%;

    }

    .gallery {
      padding: 5em 0;
      float: none;
    }

    .gallery-left {

      p {
        float: none;
        text-align: left;
      }

      .gallery-image {
        float: none;
      }
    }

    .gallery-right {

      p {
        float: none;
        text-align: left;
      }

      .gallery-image {
        float: none;

      }
    }

  }


}
