
body {
  font-family: arial, helvetica, sans-serif;
}

.container {
  width: 1000px;
  margin: 0px auto;
  padding: 40px 0;
}

header, .main {
  background-color: #ededed;
}

header {
  text-align: center;
  margin: 0 0 40px 0;
  padding: 40px;
}

.main {
  width:680px;
  margin: 0 auto;
  padding: 40px;
}

/*** article ***/
