{% include header.html %}

  <h2>{{ page.title }}</h2>
  <p class="venue">
    {% if page.dates %}{{ page.dates }}{% endif %}{% if page.venue %}, {{ page.venue }}{% endif %}
    {% if page.office_hours != false %}
      <br />Office hours: {{ site.office_hours }}
    {% endif %}
  </p>


  <p class="schedule_link">
  {% if page.schedule_link %}
    <a href="{{ page.schedule_link }}">Full Schedule</a>
  {% endif %}

  {% if page.slack_link %}
    <a href="{{ page.slack_link }}">Slack</a>
  {% endif %}

  {% if page.glitch_link %}
    <a href="{{ page.glitch_link }}">Glitch</a>
  {% endif %}
  </p>

  {{content}}

{% include footer.html %}
